/* CUSTOM FONTS */

  @font-face {
    font-family: "SF_Pro_Display";
    src: url(fonts/SF-Pro-Display-Bold.woff2);
    font-weight: bolder;
  }

  @font-face {
    font-family: "SF_Pro_Display";
    src: url(fonts/SF-Pro-Display-Semibold.woff2);
    font-weight: bold;
  }

  @font-face {
    font-family: "SF_Pro_Display";
    src: url(fonts/SF-Pro-Display-Light.woff2);
    font-weight: 100;
  }

  @font-face {
    font-family: "SF_Pro_Display";
    src: url(fonts/SF-Pro-Display-Medium.woff2);
    font-weight: 200;
  }

* {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



a {
  text-decoration: none;
  -webkit-transition: 0.1s ease-in;
  transition: 0.2s ease-in;
}

a:hover {
  cursor: pointer;
  -webkit-transform: translateY(-3px);
  -moz-transform: translateY(-3px);
          transform: translateY(-3px);

}
.main-navigation-link:hover{
  color: #FCD9D2;

}

footer {
  padding: 0px 30px 30px 30px;
  max-width: 1000px;
  margin: 0;
  display: flex !important;
  justify-content: space-between;
  border-bottom: 1px solid #F0F0F0;
}


body {
    animation: fadeInAnimation ease 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: backwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}


.main-navigation {
  z-index: 999;
  width: 100%;
  background: white;
  height: 68px;
  padding: 0;
  margin: 0;

  display: -webkit-box;
  display: -ms-flexbox;

  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.main-navigation-link {
  font-family: SF_Pro_Display, serif;
  font-weight: 100;
  color: #4D4D4D;
  padding: 15px;
  display: -webkit-box;
  text-align: center !important;

  display: -ms-flexbox;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;



}

.logo:hover, .main-navigation-link:hover {
  /*box-shadow: 0 2px 4px 0 rgba(0,0,0,0.12);
  text-decoration: underline: */
}

.main-navigation h5 {
  position: absolute;
  left: 90px;
  top: 3px;
  color: #777777;
}

@media all and (max-width: 400px) {
  .main-navigation h5 {
    top: 7px;

  }
}



.icons a:first-child {
  padding: 4px 4px 4px 0;
}

.icons a {
  padding: 4px;
}

@media all and (max-width: 460px) {
  .main-navigation-link {

    padding: 15px;
  }
  #about {
    display: none;
  }
  #things-link {
    display: none !important;
  }
}



.logo {
  width: 68px;
  display: block;
}

section {
  padding-top: 70px;
  padding-left: 30px;
  padding-right: 30px;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1000px;
}

.things {
  max-width: 1000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.case-studies {
  max-width: 1000px;
  display: -webkit-box;
  display: -ms-flexbox;
  margin: 0 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hi {

  line-height: 0.4em;
}

.subtitle {
  font-family: SF_Pro_Display, serif;
  font-weight: 100;
  font-size: 21px;
  color: #4D4D4D;

}

.hero-left {
  width: 400px;
  margin-top: 28px;
}

.hero-right {
  width: 500px;
}

.hero-right p {
  /* color: #929292; */
  font-size: 16px;
  color: #777777;
  letter-spacing: 0;
  /* line-height: 25px; */
  line-height: 1.8em;
}

.hero-right em {
  font-style: normal !important;
}

.hero-right p a {
  color: #574cdd;
  text-decoration: underline;
}

.icons {
  width: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          /*justify-content: space-between;*/
}

.download-resume {
  /* Rectangle 3: */
  font-family: SF_Pro_Display, serif;
  font-weight: 100;
  display: inline-block;
  margin-top: 20px;
  background: #FCD9D2;

  color: #4D4D4D;
  padding: 10px 0;
  width: 150px;
  text-align: center;
  letter-spacing: 0;
  border-radius: 50px;
}

.title {
  /* My Process: */
  font-family: SF_Pro_Display, serif;
  font-weight: bolder;
  margin: 0;
  font-size: 44px;
  color: #4D4D4D;
  letter-spacing: 0;
  line-height: 0.4em;
}

.things-item {
  max-width: 300px;
  padding-top: 20px;
}

.things-item h3 {
  margin-left: 15px;
}

.things-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.item-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  margin: 0;
  height: 35px;
}

.things-item p {
  /* I collaborate with s: */
  font-size: 16px;
  color: #777777;
  letter-spacing: 0;
  line-height: 1.8em;
}

.things-item h3 {
  /* Discover: */
  font-size: 28px;
  color: #5A54AF;
  letter-spacing: 0;
}

.case-studies-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.case-study-item {
  max-width: 300px;
  margin-top: 45px;
}

.case-study-item h4 {
  font-size: 26px;
  font-weight: 300;
  margin: 0;
  line-height: 2.4em;
}

.case-study-item h5 {
  font-size: 13px;
  font-weight: 700;
  color: #5A5A5A;
  margin: 0;
  line-height: 0.3em;
  text-transform: uppercase;
}

.case-study-item p {
  font-size: 16px;
  color: #777777;
  letter-spacing: 0;
  line-height: 1.8em;
}

.read-more {
  display: inline-block;
  width: 100%;
  border: solid 2px #E1E1E1;
  padding: 18px 0;
  text-align: center;
  color: #574CDD;
  font-weight: 500;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
  border-radius: 2px;
}

.main-case-study {
  max-width: 1000px;
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  padding-bottom: 0px;
}

.results-content {
  max-width: 900px;
  color: black;
  text-align: center;
  display: block;
  margin: 0 auto;
}

.results-content img {
  margin-top: 40px;
  max-width: 70px;
  border-radius: 100%;
}

.results-content h1 {
  font-size: 24px;
  line-height: 1.6em;
  font-weight: 300;
}

.results-content h2 {
  font-size: 25px;
  line-height: 1em;
  font-weight: 300;
  margin: 0;
  margin-top: 0.3em;

}

.results-content h3 {
  margin: 0;
  margin-top: 0.4em;
  padding-bottom: 35px;
}

.results-content hr {
  width: 30px;
  border: 3px solid #5A54AF;
}

.main-case-study img {
  max-width: 100%;
}




.main-case-study .summary {
  /* The objective of thi: */
  font-family: SF_Pro_Display, serif;
  font-weight: 100;
  font-size: 21px;
  color: #4D4D4D;
  line-height: 40px;
}

.case-study-item img {
  max-width: 100%;
}

.case-details {
  display: flex;
  max-width: 700px;
  list-style-type: none;
  flex-wrap: wrap;
}

.case-links {
  margin-top: 26px;
  padding-bottom: 30px;
}

.link-div {
  display: inline-block;
  padding: 15px 15px 15px 0;
}

.case-links img {
  position: relative;
  top: 2.9px;
  padding-right: 8px;
}

.case-detail-link {
  padding: 15px 30px;
  /* border: 1px solid #fafafa; */
  color: #593eda;
  border-radius: 2px;
  background: #f1f1f1;
  margin-right: 1em;
}

@media all and (max-width: 981px) {
  .hero-left {
    margin: 0 auto;
    text-align: center;
  }
  .hero-left .icons {
    margin: 0 auto;
    justify-content: center;
  }
}

@media all and (max-width: 842px) {
  .link-div {
    display: block;
  }
  .case-detail-link {
      display: block;
      width: 100%;
      padding:25px;
      text-align: center;
  }
}

.content-case-study {
  max-width: 1000px;
  display: block;
  margin: 0 auto;

}


.content-case-study img {
  max-width: 100%;
  margin-top: 20px;
}


.content-case-study a {
  color: #4D4D4D;
}

.content-case-study a:hover{
  background: linear-gradient(180deg,rgba(255,255,255,0) 50%, #FCD9D2 50%);

}

.content-case-study h1 {
  margin: 0;
  margin-top: 2.4em;
}

.case-details-item {
  border-right-style: solid;
  border-right-color: #E0E0E0;
  border-right-width: medium;
  width: 30%;
  text-align: center;
}

@media all and (max-width: 613px) {
  .case-details {
    justify-content: flex-start;
  }
  .download-resume {
    display: block;
    width: 100%;
  }
  .case-details-item {
    padding-right: 25px !importa
    nt;

  }

  .case-details{
    align-items: center;
  }

  .case-details-item{

    width: 100%;
    border-right-style: none;
  }
}



#last{
  border-style: none;

}

.case-details-item strong {
  font-weight: bold;
}

.case-details-item p {
  line-height: 1.8em;
  font-size: 16px;
}

@media all and (max-width:1040px) {
  .case-study-item {
    max-width: 48%;
    margin-top: 40px;
  }
  .case-studies-wrapper {
    margin-top: 0;
  }
}

@media all and (max-width:980px) {
  .hero-right {
    width: 100%;
    margin-top: 30px;
  }
  .things-item {
    max-width: 45%;
  }

}

@media all and (max-width: 728px) {
  .case-study-item {
    max-width: 100%;
    margin-top: 40px;
  }
  .case-study-item:first-of-type {
    margin-top: 13px;
  }
  .hi, .title {
    font-size: 40px;
  }
  .things-item h3 {
    font-size: 24px;
  }
  .subtitle {
    font-size: 24px;
  }
  section {
    padding-top: 60px !important;
  }
  #scroll-element {
    /*padding-top: 100px !important;*/
  }
}

@media all and (max-width:500px) {
  .things-item {
    max-width: 100%;
  }

  .title{

    font-size: 24px;
  }

  .subtitle{

    font-size: 18px;
  }

  .main-case-study .summary  {

    font-size: 14px;
  }
}

.active {
  color: #574CDD !important;
  transition: 0.2s ease-in-out;
  border-bottom: 3px solid #574CDD;
}

.case_study_card:hover{
  opacity: 1;
  background-color: #FCD9D2;

}
.case_study_card {
  transition: 1s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1000px;
  margin-bottom: 3%;
  margin-top: 2%;

}

.thumbnail {
  width: 25%;
  height: 25%;

}

.card_title{
  font-family: SF_Pro_Display, serif;
  font-weight: bolder;
  font-size: 44px;
  color: #4D4D4D;
  text-align: right;
  margin-bottom: 0%;
}

.card_subtitle{
  font-family: SF_Pro_Display, serif;
  font-weight: 200;
  font-size: 21px;
  color: #4D4D4D;
  text-align: right;
  margin-top: 0%;

}

.right_text{

  display: inline-block;
  margin-right: 8%;
  margin-top: 5%;
}

@media all and (max-width:980px) {

  .card_title{
    font-size: 32px;
  }

  .card_subtitle{
    font-size: 18px;
  }

  .life{

    width: 15%;
    margin-left: 0;
  }
}

@media all and (max-width:740px) {

  .card_title{
    font-size: 24px;
  }

  .card_subtitle{
    font-size: 14px;
  }

}

@media all and (max-width:570px) {

  .card_title{
    font-size: 14px;
  }

  .card_subtitle{
    font-size: 10px;
  }

}

.sub-navigation{

  z-index: 999;
  width: 100%;
  background: white;
  padding: 0;
  margin: 0;
  margin-left: 2%;
  position: fixed;

  display: -webkit-box;
  display: -ms-flexbox;

  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;

}

.icon{
margin-bottom: 5%;
width: 100%;
opacity: 0.8;


}
.life:hover{
  /*cursor: pointer;*/
  -webkit-transform: translateY(-3px);
  -moz-transform: translateY(-3px);
          transform: translateY(-3px);

}

.life{
  transition: 0.2s ease-in;
  display: inline-block;
  width: 20%;
  text-align: center;
  margin: 5%;
  margin-left: 8%;
}

.group{
  font-size: 16px;
  color: #777777;
  text-align: center;

}


.footer{
  font-family: SF_Pro_Display, serif;
  font-weight: bolder;
  margin: 0;
  font-size: 32px;
  color: #4D4D4D;
  line-height: 60px;
  margin-bottom: 100px;

}


.message{
  color: #FFC5BB;
}

@media all and (max-width:980px) {

  .life{

    width: 18%;

  }
}

figure {
  max-width: 28%;
  margin: 0em;
  float: left;
  position: relative;
  cursor: pointer;
  transition: all 500ms;
}

/*
.play{
    transition: all 500ms;
    z-index: 9999;
}
.play:hover {
  transform: scale(2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport)
  transition: all 500ms;
} */

.highlight{
   background: linear-gradient(180deg,rgba(255,255,255,0) 50%, #FCD9D2 50%);
}

.bluehighlight{
   background: linear-gradient(180deg,rgba(255,255,255,0) 50%, #D6EBE8 50%);
}

.image-row{
  display: flex;
  justify-content: center;
  margin-bottom: 3%;
}

h3{
  font-family: SF_Pro_Display, serif;
  font-weight: bolder;
  margin: 0;
  /*margin-top: 2em;*/
  font-size: 36px;
  color: #4D4D4D;
  letter-spacing: 0;
  line-height: 1.2em;
}

h4{
  margin-bottom: 24em;
  background: linear-gradient(180deg,rgba(255,255,255,0) 50%, #FCD9D2 50%);
  display: inline;
  font-family: SF_Pro_Display, serif;
  font-weight: bolder;
  font-size: 21px;
  color: #4D4D4D;
  letter-spacing: 0;
  line-height: 1em;
}

h5{
  display: flex;
  font-family: SF_Pro_Display, serif;
  font-weight: bolder;
  font-size: 21px;
  color: #4D4D4D;
  letter-spacing: 0;
  line-height: 0.4em;
  margin-bottom: 0px;
}

p{
  font-family: SF_Pro_Display, serif;
  font-weight: 100;
  font-size: 18px;
  color: #4D4D4D !important;
  line-height: 40px;
}

li{
  font-family: SF_Pro_Display, serif;
  font-weight: 100;
  font-size: 18px;
  color: #4D4D4D;
  line-height: 32px;
}

hr{
  margin: 40px 0px 40px 0px;
  color: #4D4D4D;
  opacity: 0.4;
}

h6{
  font-family: SF_Pro_Display, serif;
  font-weight: 100;
  font-size: 16px;
  color: #4D4D4D;
  line-height: 20px;
  padding: 0% 10% 0% 0%;
}

#nopad{
  padding-top: 0px !important ;
}

.shadow{
  -webkit-box-shadow: 0px 32px 65px -22px rgba(0,0,0,0.14);
  -moz-box-shadow: 0px 32px 65px -22px rgba(0,0,0,0.14);
  box-shadow: 0px 32px 65px -22px rgba(0,0,0,0.14);
}

.callout{
  text-align: center;
}

img[alt=proto] { width: 42%; margin-top: -12px; padding-top: 0px;}
img[alt=icon] { width: 24%; margin-right: 12px;}
img[alt=image_text] { width: 80%;}
